*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    color: rgb(85, 2, 2);
    text-align: center;
    margin: 100px;
}
hr{
    width: 150px;
    height: 5px;
    border: none;
    border-radius: 3px;
    background-color:rgb(85, 2, 2);
    margin-left: 500px;
    transition: 1s;
}
.rosemilk1{
    display: flex;
    background-image: radial-gradient(white,rgb(161, 76, 7));
    justify-content: space-between;   
    height: 400px;
    margin: 50px;
    border-radius: 50px;
}
.rosemilk2{
    margin-top: 30px;
    height: 350px;
    width: 250px;
    margin-left: 200px;
}
.rosemilk3{
    width: 300px;
    margin-top:110px;
    margin-right:200px;
}
.rosemilk4{
    text-transform: capitalize;
    font-size: 50px;
    color: rgb(160, 88, 5);
    font-weight: 900;
}
.p1{
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    
}
.price1{
    font-weight: bolder;
    font-size: 25px;
}
.mango1{
    display: flex;
    background-image: radial-gradient(white,rgb(207, 104, 35));
    justify-content: space-between;   
    height: 400px;
    margin: 50px;
    border-radius: 50px;
}
.mango2{
    margin-top: 110px;
    margin-left: 250px;
}
.mango3{
    text-transform: capitalize;
    font-size: 50px;
    color: rgb(126, 53, 4);
    font-weight: 900;
}
.p2{
    font-size: 20px;
    width: 300px;
    font-weight: 700;
    font-family: sans-serif;
}
.price2{
    font-weight: bolder;
    font-size: 25px;
}
.mango4{
    margin-right: 200px;
}
.lemon1{
    display: flex;
    background-image: radial-gradient(white,rgb(215, 243, 151));
    justify-content: space-between;   
    height: 400px;
    margin: 50px;
    border-radius: 50px;
}
.lemon2{
    margin-top: 30px;
    height: 350px;
    width: 250px;
    margin-left: 200px;
}
.lemon3{
    width: 300px;
    margin-top: 110px;
    margin-right:200px;
}
.lemon4{
    text-transform: capitalize;
    font-size: 50px;
    color: rgb(149, 151, 45);
    font-weight: 900;
}
.p1{
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    
}
.price1{
    font-weight: bolder;
    font-size: 25px;
}
.mojito1{
    display: flex;
    background-image: radial-gradient(white,rgb(69, 176, 209));
    justify-content: space-between;   
    height: 400px;
    margin: 50px;
    border-radius: 50px;
}
.mojito2{
    margin-top: 110px;
    margin-left: 250px;
}
.mojito3{
    text-transform: capitalize;
    font-size: 50px;
    color: rgb(17, 72, 175);
    font-weight: 900;
}
.p2{
    width: 300px;
    font-weight: 700;
    font-family: sans-serif;
}
.price2{
    font-weight: bolder;
    font-size: 25px;
}
.mojito4{
    margin-right: 200px;
}